name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   # daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Generate the snake SVG
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Amrit-raj50
          outputs: dist/github-contribution-grid-snake.svg

      # Push to output branch
      - name: Deploy to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
